/* ========================= Badge CSS Start ========================= */
.badge {
  font-size: rem(14px);
  font-weight: 500;
  line-height: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  text-align: center;

  &--base {
    color: hsl(var(--base));
    background-color: hsl(var(--base) / 0.15);
  }

  &-outline--base {
    color: hsl(var(--base));
    border: 1px solid hsl(var(--base) / 0.5);
    background-color: hsl(var(--base) / 0.15);
  }

  &--base-two {
    background-color: hsl(var(--base-two) / 0.15);
    color: hsl(var(--base-two));
  }

  &-outline--base-two {
    color: hsl(var(--base-two));
    border: 1px solid hsl(var(--base-two) / 0.5);
    background-color: hsl(var(--base-two) / 0.15);
  }

  &--primary {
    background-color: hsl(var(--primary) / 0.15);
    color: hsl(var(--primary));
  }

  &-outline--primary {
    color: hsl(var(--primary));
    border: 1px solid hsl(var(--primary) / 0.5);
    background-color: hsl(var(--primary) / 0.15);
  }

  &--secondary {
    background-color: hsl(var(--secondary) / 0.15);
    color: hsl(var(--secondary));
  }

  &-outline--secondary {
    color: hsl(var(--secondary));
    border: 1px solid hsl(var(--secondary) / 0.5);
    background-color: hsl(var(--secondary) / 0.15);
  }

  &--success {
    color: hsl(var(--success));
    background-color: hsl(var(--success) / 0.15);
  }

  &-outline--success {
    color: hsl(var(--success));
    border: 1px solid hsl(var(--success) / 0.5);
    background-color: hsl(var(--success) / 0.15);
  }

  &--danger {
    background-color: hsl(var(--danger) / 0.15);
    color: hsl(var(--danger));
  }

  &-outline--danger {
    color: hsl(var(--danger));
    border: 1px solid hsl(var(--danger) / 0.5);
    background-color: hsl(var(--danger) / 0.15);
  }

  &--warning {
    background-color: hsl(var(--warning) / 0.15);
    color: hsl(var(--warning));
  }

  &-outline--warning {
    color: hsl(var(--warning));
    border: 1px solid hsl(var(--warning) / 0.5);
    background-color: hsl(var(--warning) / 0.15);
  }

  &--info {
    background-color: hsl(var(--info) / 0.15);
    color: hsl(var(--info));
  }

  &-outline--info {
    color: hsl(var(--info));
    border: 1px solid hsl(var(--info) / 0.5);
    background-color: hsl(var(--info) / 0.15);
  }
}

/* ========================= Badge CSS End ========================= */