/* ========================= Form CSS Start =========================  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: hsl(var(--gray)) !important;
  caret-color: hsl(var(--gray));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  appearance: textfield;
}

.form--label {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 150%;
  color: hsl(var(--gray));

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.required {
    display: inline-flex;
    align-items: start;
    gap: 4px;

    &::after {
      content: '*';
      display: inline-block;
      color: hsl(var(--danger));
    }
  }
}

.form--group {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form--control,
.form--select {
  width: 100%;
  font-size: rem(16px);
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  border-radius: 6px;
  border: 1px solid hsl(var(--border-color));
  background-color: hsl(var(--white));

  &:focus {
    box-shadow: none;
    background-color: hsl(var(--white) / 0.02);

    &:not(:disabled) {
      border-color: hsl(var(--base)) !important;
    }
  }

  &:disabled,
  &[readonly] {
    background-color: hsl(var(--white));
  }

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
  }
}

.form--control {
  padding: 14px 20px;
  color: hsl(var(--gray-d-300)) !important;

  &::placeholder {
    font-weight: 400;
    color: hsl(var(--gray-l-100));
  }

  &:focus {
    &:not(:disabled):not([readonly])::placeholder {
      color: hsl(var(--gray-d-300)) !important;
    }
  }

  &.form-control--xl {
    @media screen and (min-width: 576px) {
      padding: 19.5px 24px;
      font-size: rem(20px);
    }
  }

  &.form-control--lg {
    @media screen and (min-width: 576px) {
      padding: 16.5px 24px;
      font-size: rem(18px);
    }
  }

  &.form-control--sm {
    font-size: rem(14px);
    padding: 10.5px 18px;
  }


  &[type='file'] {
    &::file-selector-button {
      margin: -14px 14px -14px -20px;
      padding: 15px 15px 15px 20px;
      color: hsl(var(--white));
      background: hsl(var(--base));
      border-color: hsl(var(--base));
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    @media screen and (min-width: 576px) {
      &.form-control--xl::file-selector-button {
        margin: -20px 20px -20px -28px;
        padding: 21px 21px 21px 28px;
      }
    }

    @media screen and (min-width: 576px) {
      &.form-control--lg::file-selector-button {
        margin: -17px 17px -17px -24px;
        padding: 18px 18px 18px 24px;
      }
    }

    @media screen and (min-width: 576px) {
      &.form-control--sm::file-selector-button {
        margin: -11px 11px -11px -18px;
        padding: 12px 12px 12px 18px;
      }
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
      background-color: hsl(var(--base)) !important;
    }
  }

  @at-root {
    textarea#{&} {
      resize: none;
      min-height: 160px;
    }
  }
}

.form--select {
  padding: 15px 20px;
  color: hsl(var(--gray-l-100));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2394a3b8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  
  option {
    color: hsl(var(--gray-l-100));
    background-color: hsl(var(--white));
  }

  &.form-select--xl {
    @media screen and (min-width: 576px) {
      padding: 21px 24px;
      font-size: rem(20px);
    }
  }

  &.form-select--lg {
    @media screen and (min-width: 576px) {
      padding: 18px 24px;
      font-size: rem(18px);
    }
  }

  &.form-select--sm {
    font-size: rem(14px);
    padding: 12px 18px;
  }

  &.selected,
  &:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231d283a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    color: hsl(var(--gray-d-300));
    font-weight: 500;
  }

}

.form--check {
  min-height: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  gap: 8px;
  padding-left: 4px;

  .form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 0;
    position: relative;
    border: 1px solid hsl(var(--white) / 0.23);
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;

    &:checked {
      background: var(--gradient) !important;
      border-color: hsl(var(--base)) !important;
      box-shadow: none;

      &[type='checkbox'] {
        background-image: none;
      }

      &::before {
        content: '\f00c';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(11px);
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: hsl(var(--white));
      }
    }
  }

  .form-check-label {
    font-size: rem(16px);
    font-weight: 500;
    line-height: 150%;
    color: hsl(var(--light));
    white-space: nowrap;

    a {
      font-size: rem(16px);
      font-weight: 500;
      display: inline;
    }
  }
}

.input--group {
  $input-group: &;
  flex-wrap: nowrap;
  border: 1px solid hsl(var(--white) / 0.23);
  background-color: hsl(var(--white)/0.02);
  border-radius: 250px;

  &:focus-within {
    border-color: hsl(var(--base));
  }

  .form-control.form--control {
    border: none;
  }

  .input-group-text {
    font-size: rem(16px);
    font-weight: 400;
    line-height: 120%;
    color: hsl(var(--white));
    padding: 16px 22px;
    border: none;
    background-color: hsl(var(--white)/0.02);
    padding: 0px 20px;

    &:first-child {
      border-top-left-radius: 250px;
      border-bottom-left-radius: 250px;
      border-right: 1px solid hsl(var(--white) / 0.23);
    }

    &:last-child {
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px;
      border-left: 1px solid hsl(var(--white) / 0.23);
    }
  }

  .btn {
    margin-top: -1px;
    margin-bottom: -1px;

    &:first-child {
      margin-left: -1px;
    }

    &:last-child {
      margin-right: -1px;
    }
  }

  &:has([readonly]) .input-group-text,
  &:has(:disabled) .input-group-text {
    border-color: hsl(var(--gray-two)) !important;
    background-color: hsl(var(--gray-two));
  }

  &:has([readonly]) .form-control.form--control,
  &:has(:disabled) .form-control.form--control {
    border-color: hsl(var(--black) / 0.1);
  }

  &:has(.form-control--sm) .input-group-text,
  &:has(.form-select--sm) .input-group-text {
    font-size: 14px;
    padding: 0px 16px;
  }

  &:has(.form-control--lg) .input-group-text,
  &:has(.form-select--lg) .input-group-text {
    padding: 0px 24px;
  }

  &:has(.select2-wrapper:first-child .select2-container--open) {
    border-top-left-radius: 80px;
    border-bottom-left-radius: 0px;
  }

  &:has(.select2-wrapper:last-child .select2-container--open) {
    border-top-right-radius: 80px;
    border-bottom-right-radius: 0px;
  }

  .select2-wrapper {
    --select2-border-color: transparent;
    --select2-border-color-focus: transparent;

    &:first-child {
      --select2-border-radius: 250px 0px 0px 250px;

      .select2-container--default.select2-container .select2-selection--single,
      .select2-container--default.select2-container .select2-selection--multiple {
        border-right: 1px solid hsl(var(--white) / 0.23);
      }

      .select2-container.select2-container--open .select2-selection--single,
      .select2-container.select2-container--open .select2-selection--multipe {
        border-right-color: hsl(var(--base)) !important;
      }

      .select2-container--default.select2-container--below.select2-container--open .select2-selection--single,
      .select2-container--default.select2-container--below.select2-container--open .select2-selection--multiple {
        border-top-right-radius: 0px;
      }

      .select2-container--default.select2-container--above.select2-container--open .select2-selection--single,
      .select2-container--default.select2-container--above.select2-container--open .select2-selection--multiple {
        border-bottom-right-radius: 0px;
      }

    }

    &:last-child {
      --select2-border-radius: 0px 250px 250px 0px;

      .select2-container .select2-selection--single,
      .select2-container .select2-selection--multiple {
        border-left: 1px solid hsl(var(--white) / 0.23);
      }

      .select2-container.select2-container--open .select2-selection--single,
      .select2-container.select2-container--open .select2-selection--multipe {
        border-left-color: hsl(var(--base)) !important;
      }

      .select2-container--default.select2-container--below.select2-container--open .select2-selection--single,
      .select2-container--default.select2-container--below.select2-container--open .select2-selection--multiple {
        border-top-left-radius: 0px;
      }

      .select2-container--default.select2-container--above.select2-container--open .select2-selection--single,
      .select2-container--default.select2-container--above.select2-container--open .select2-selection--multiple {
        border-bottom-left-radius: 0px;
      }
    }
  }
}

.input-group--copy {
  .copy-input {
    color: hsl(var(--light)) !important;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: hsl(var(--white) / 0.02);
  }

  .copy-btn {
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: hsl(var(--gray));
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background-color: hsl(var(--white) / 0.02) !important;

    i.las {
      font-size: rem(18px);
    }

    @media screen and (min-width: 576px) {
      padding: 0 32px !important;
    }

    @include msm-screen {
      font-size: rem(14px);
      padding: 0 16px !important;

      i.las {
        font-size: rem(16px);
      }
    }
  }
}

.input--group-password {
  .input-group-btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

/* ========================= Form CSS End ===========================  */

// /* ================================= Form Css Start =========================== */
// /* Form Label */
// .form--label {
//   margin-bottom: 6px;
//   font-size: rem(15px);
//   color: hsl(var(--black) / 0.6);
//   font-weight: 500;
// }

// .form-group {
//   margin-bottom: 1rem;
// }

// /* Form Select */
// .select {
//   color: hsl(var(--black) / 0.6) !important;

//   &:focus {
//     border-color: hsl(var(--base));
//     color: hsl(var(--black)) !important;
//   }

//   option {
//     background-color: hsl(var(--black));
//     color: hsl(var(--white));
//   }
// }

// /* Form Select End */

// /* Form Control Start */
// .form--control {
//   border-radius: 5px;
//   font-weight: 400;
//   outline: none;
//   width: 100%;
//   padding: 13px 24px;
//   background-color: transparent;
//   border: 1px solid hsl(var(--black) / 0.2);
//   color: hsl(var(--black));
//   line-height: 1;

//   &::placeholder {
//     color: hsl(var(--black) / 0.6);
//     font-size: rem(14px);
//   }

//   &:focus {
//     border-color: hsl(var(--base));
//   }

//   &:disabled,
//   &[readonly] {
//     background-color: hsl(var(--black) / 0.2);
//     opacity: 1;
//     border: 0;
//   }

//   &[type='password'] {
//     color: hsl(var(--black) / 0.5);

//     &:focus {
//       color: hsl(var(--black));
//     }
//   }

//   &[type='file'] {
//     line-height: 50px;
//     padding: 0;
//     position: relative;

//     &::file-selector-button {
//       border: 1px solid hsl(var(--black) / 0.08);
//       padding: 4px 6px;
//       border-radius: 0.2em;
//       background-color: hsl(var(--base)) !important;
//       transition: 0.2s linear;
//       line-height: 25px;
//       position: relative;
//       margin-left: 15px;
//       color: hsl(var(--body-color)) !important;

//       &:hover {
//         background-color: hsl(var(--base));
//         border: 1px solid hsl(var(--base));
//         color: hsl(var(--black));
//       }
//     }
//   }
// }

// /* Form Control End */

// // Message Field Css
// textarea.form--control {
//   height: 130px;
// }

// /* Autofill Css */
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   -webkit-transition: background-color 5000s ease-in-out 0s;
//   transition: background-color 5000s ease-in-out 0s;
// }

// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
//   -webkit-text-fill-color: hsl(var(--black)) !important;
//   caret-color: hsl(var(--black));
// }

// /* Autofill Css End */

// /* input group */
// .input--group {
//   position: relative;
// }

// /* Show Hide Password */
// input#your-password,
// input#confirm-password {
//   padding-right: 50px;
// }

// .password-show-hide {
//   position: absolute;
//   right: 20px;
//   z-index: 5;
//   cursor: pointer;
//   top: 50%;
//   transform: translateY(-50%);
//   color: hsl(var(--black) / 0.4);
// }

// /* --------------- Number Arrow None --------------------- */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
// }

// input[type='number'] {
//   appearance: textfield;
// }

// /* Custom Checkbox Design */
// .form--check {
//   display: flex;
//   flex-wrap: wrap;

//   a {
//     display: inline;
//   }

//   .form-check-input {
//     box-shadow: none;
//     background-color: transparent;
//     box-shadow: none !important;
//     border: 0;
//     position: relative;
//     border-radius: 0px;
//     width: 16px;
//     height: 16px;
//     border: 1px solid hsl(var(--black) / 0.2);
//     cursor: pointer;

//     &:checked {
//       background-color: hsl(var(--base)) !important;
//       border-color: hsl(var(--base)) !important;
//       box-shadow: none;

//       &[type='checkbox'] {
//         background-image: none;
//       }

//       &::before {
//         position: absolute;
//         content: '\f00c';
//         font-family: 'Font Awesome 5 Free';
//         font-weight: 900;
//         color: hsl(var(--white));
//         font-size: rem(11px);
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }

//   .form-check-label {
//     font-weight: 600;
//     width: calc(100% - 16px);
//     padding-left: 12px;
//     cursor: pointer;
//     font-size: rem(14px);
//   }

//   label {
//     @include xsm-screen {
//       font-size: rem(15px);
//     }
//   }

//   a {
//     @include xsm-screen {
//       font-size: rem(15px);
//     }
//   }
// }

// /* Custom Radio Design */
// .form--radio {
//   display: flex;
//   flex-wrap: wrap;

//   .form-check-input {
//     box-shadow: none;
//     border: 1px solid hsl(var(--black) / 0.2);
//     position: relative;
//     background-color: transparent;
//     cursor: pointer;
//     width: 16px;
//     height: 16px;

//     &:active {
//       filter: brightness(100%);
//     }

//     &:checked {
//       background-color: transparent;
//       border-color: hsl(var(--base));

//       &[type='radio'] {
//         background-image: none;
//       }

//       &::before {
//         position: absolute;
//         content: '';
//         top: 50%;
//         left: 50%;
//         -webkit-transform: translate(-50%, -50%);
//         transform: translate(-50%, -50%);
//         width: 7px;
//         height: 7px;
//         background-color: hsl(var(--base));
//         border-radius: 50%;
//         z-index: 999;
//       }
//     }
//   }

//   .form-check-label {
//     font-weight: 600;
//     width: calc(100% - 16px);
//     padding-left: 12px;
//     cursor: pointer;
//     font-size: rem(14px);
//   }
// }

// /*  Custom Switch Design */
// .form--switch {
//   .form-check-input {
//     border-radius: 3px;
//     background-image: none;
//     position: relative;
//     box-shadow: none;
//     border: 0;
//     background-color: hsl(var(--black) / 0.2) !important;
//     padding: 10px !important;
//     margin-left: 0;
//     margin-bottom: 5px;
//     border-radius: 40px;
//     width: 70px;
//     height: 38px;
//     cursor: pointer;

//     &:focus {
//       border-radius: 40px;
//       background-image: none;
//       position: relative;
//       box-shadow: none;
//       border: 0;
//     }

//     &::before {
//       position: absolute;
//       content: '';
//       width: 28px;
//       height: 28px;
//       background-color: hsl(var(--white));
//       top: 50%;
//       transform: translateY(-50%);
//       border-radius: 2px;
//       left: 5px;
//       border-radius: 50%;
//       transition: 0.2s linear;
//     }

//     &:checked {
//       background-color: hsl(var(--base)) !important;

//       &::before {
//         left: calc(100% - 33px);
//         background-color: hsl(var(--white)) !important;
//       }
//     }

//     &:checked[type='checkbox'] {
//       background-image: none;
//     }
//   }

//   .form-check-label {
//     width: calc(100% - 14px);
//     padding-left: 5px;
//     cursor: pointer;
//   }
// }

// /*  Custom Switch End Design */
// /* ================================= Form Css End =========================== */

// /* --======================Custom Input group Start ======================*/

// .input--group {
//   border-radius: 5px;
//   border: 1px solid hsl(var(--border-color));

//   .form--control {
//     border-width: 0px !important;
//     padding-right: 5px;
//     box-shadow: unset;
//   }

//   .input-group-text+.form--control {
//     padding-right: 20px;
//     padding-left: 10px;
//   }

//   &:focus-within {
//     border: 1px solid hsl(var(--base));
//   }

//   .input-group-text {
//     border-width: 0px;
//     height: calc(100% - 10px);
//     margin: 5px;
//     border-radius: 5px;
//     background-color: hsl(var(--black) / 0.1);
//     color: hsl(var(--body-color));
//   }

//   &-text {
//     margin-left: 5px;
//   }

//   .form--control[readonly] {
//     background: hsl(var(--black) / 0.3) !important;
//   }

//   .form--control[readonly]:focus {
//     border-color: hsl(var(--black) / 0.3);
//   }

//   &:has(.form--control[readonly]) {
//     background: hsl(var(--black) / 0.3) !important;
//   }

//   &:has(.form--control[readonly]):focus-within {
//     border-color: hsl(var(--black) / 0.4) !important;
//   }
// }

// /* --======================Custom Input group End ======================*/